<h2 class="subheader">Edit User</h2>
<hr />


<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
	<%= f.error_notification %>

	<div class="form-inputs">
		<%= f.input :name, :required => true, :autofocus => true%>
		<%= f.input :email, :required => true,  type: :email %>
		<%= f.input :school, :required => true %>
		<%= f.input :handphone, :required => true, type: :number%>
		<%= f.input :password, :autocomplete => "off", :placeholder => "leave it blank if you don't want to change it", :required => false %>
		<%= f.input :password_confirmation, :required => false %>
		<%= f.input :current_password, :placeholder => "we need your current password to confirm your changes", :required => true %>
	</div>

	<div class="row">
		<div class="small-11 small-centered large-3 large-offset-3 columns">
			<%= f.button :submit, "Update",  class: "expand" %>
		</div>

	</div>


	<div class="row">
		<br />
		<div class="large-12 columns">
			<hr />
			<div class="row">
				<div class="small-12 large-9 large-offset-3 columns">
					<div class="">
						<%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %> <br />

						<%= link_to "Back", :back %>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

